.text-input {
    width: 250px;
}

li {
    font-size: 18px;
}

th {
    font-size: 20px;
    font-weight: bold;
}

td {
    font-size: 18px;
    padding: 5px;
}

p {
    font-size: 20px;
}

.send-button {
	margin-left: 25px;
}

h1 {
	font-size: 125%;
}

h2 {
	font-size: 110%;
}