<?xml version="1.0"?>
<web-app id="Ch07_XSSFilter" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Ch07_XSSFilter</display-name>
	<filter>
		<display-name>ESAPIFilter</display-name>
		<filter-name>ESAPIFilter</filter-name>
		<filter-class>de.dominikschadow.webappsecurity.filter.ESAPIFilter</filter-class>
	</filter>
    <filter>
        <display-name>BlacklistFilter</display-name>
        <filter-name>BlacklistFilter</filter-name>
        <filter-class>de.dominikschadow.webappsecurity.filter.BlacklistFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ESAPIFilter</filter-name>
        <url-pattern>/outputEsapi.jsp</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>BlacklistFilter</filter-name>
		<url-pattern>/outputBlacklist.jsp</url-pattern>
	</filter-mapping>
</web-app>
