<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/xssDS</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">false</property>
        <mapping package="de.dominikschadow.webappsecurity.domain"/>
        <mapping class="de.dominikschadow.webappsecurity.domain.Customer"/>
    </session-factory>
</hibernate-configuration>